@model AgenceTest.Models.Caol.CaoUsuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaoUsuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoUsuarioAutorizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoUsuarioAutorizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtAdmissaoEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtAdmissaoEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtDesligamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtDesligamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtInclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtInclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtExpiracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtExpiracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuRg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuRg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOrgaoEmissor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOrgaoEmissor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UfOrgaoEmissor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UfOrgaoEmissor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoEmailPessoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoEmailPessoal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtAlteracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstantMessenger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstantMessenger)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Msn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Msn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsCompEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsCompEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsBairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsBairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuCep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuCep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UfCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UfCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtExpedicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtExpedicao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CoUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
