@model IEnumerable<AgenceTest.Models.Caol.CaoUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DsSenha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoUsuarioAutorizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoUsuarioAutorizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNascimento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
